try/src/main/mule/try.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d2a34b52-7b09-41e2-abec-60c9103d642d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<validation:config name="Validation_Config" doc:name="Validation Config" doc:id="ee3184f7-e9b2-4648-809d-b0139b1fdc0c" />
	<flow name="tryFlow" doc:id="df9ded99-2010-443e-9485-d7c379f41485" >
		<http:listener doc:name="Listener" doc:id="1cab02f7-c831-46da-ac39-b0c03ca5d127" config-ref="HTTP_Listener_config" path="/tryerror"/>
		<set-payload value="52" doc:name="Set Payload" doc:id="8522d0e6-d7d7-4c35-ae85-f18814aa74f0" />
		<try doc:name="Try" doc:id="627f3ede-14a9-4d30-98e7-7c19dda8fee4" >
			<validation:is-number numberType="INTEGER" doc:name="Is number" doc:id="80011cc4-84f6-4a6b-abff-ac70ce95516a" config-ref="Validation_Config" value="#[payload]" minValue="60" maxValue="100"/>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="2e264bc1-4bab-438f-ac47-762b80fa466c" type="ANY">
					<set-payload value="error in try block" doc:name="Set Payload" doc:id="1b2929af-5662-4538-88e8-749ea5a1fb22" />
				</on-error-propagate>
			</error-handler>
		</try>
		<ee:transform doc:name="Transform Message" doc:id="b0b751c6-e8f0-45b4-a445-9b6124606afd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
